version: 1.0.{build}
os: Visual Studio 2015
clone_folder: C:\projects\callme
test: off

#init:
#- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

artifacts:
- path: build\CMakeFiles\CMakeOutput.log
- path: build\CMakeFiles\CMakeError.log

configuration:
    - Release

branches:
    only:
        - master

environment:
    matrix:
        - CMAKE_PLATFORM: "Visual Studio 14 2015"

install: true

build_script:
    - cd c:\projects\callme
    - git submodule init
    - git submodule update --init --recursive
    - md build
    - cd build
    - cmake -Dcompdb=OFF -G "%CMAKE_PLATFORM%" ..
    - set MSBuildLogger="C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
    - set MSBuildOptions=/v:m /p:Configuration=%Configuration% /logger:%MSBuildLogger%
    - msbuild %MSBuildOptions% callme.sln
    - tests\Release\callme_test.exe
